/* General style settings */

body {
  margin: 10px 10px 10px 10px;
  padding:0px;
  margin-right: 20px;
  
}

ul {
  padding-left: 2em;
  margin-left:  0em;
}

ol li {
  padding-left: 0em;
  margin-left:  2em;
}

dl {
  padding-top: 0em;
  margin-top:  0em;
}

dd {
  padding-left: 1em;
  margin-left:  0em;
}

dd.FileList {
  padding-top:  0.5em;
  padding-left: 0em;
  margin-left:  0em;
}

dt {
  font-weight: bold;
}
 
h1, h2, h3, h4, h5 {
  margin: 0 1em 0 1em;
  text-align: center;
}

.SectionHeading {
  text-align: left;
}

h1 {font-size: 150%}
h2 {font-size: 120%}
h3 {font-size: 100%}

h5 {
  font-size: 100%;
  font-weight: normal;
}

.UnPaddedTable   td, .UnPaddedTable   th {padding: 0px; }
.LowPaddedTable  td, .LowPaddedTable  th {padding: 3px; }
.MedPaddedTable  td, .MedPaddedTable  th {padding: 5px; }
.HighPaddedTable td, .HighPaddedTable th {padding: 10px;}

td {vertical-align: top;    }
th {vertical-align: bottom; }

.LeftHeader {text-align: right;}  

/* Stuff for PrintRevisionInfo, which shows up in lots of places, hence it's here */


#RevisionInfo {
  position: relative;
  width: 100%;
}

#Header3Col {
  width: 100%;
  padding: 0.5em;
}
	
#Footer3Col {
  clear: both;
  width: 100%;
  padding: 0.5em;
  text-align: center;
}
	
#LeftColumn3Col {
  width: 12.5em;
  float: left;
  background: #eee;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  margin-left: 0em;
  border: 1px solid;
}

#MainColumn3Col {
  background: white;
  padding-bottom: 1em;
  padding-left: 14em;   /* width+left/right paddings of LeftColumn plus another 0.5em*/
  width: auto;
}

#RightColumn3Col {
  width: 12.5em; 
  background: #eee;
  float: right;
  margin-bottom: 0.5em;
  margin-left:   0.5em;
  padding:      0.5em;
  padding-top: 0.1em;
  border: 1px solid black;
}

#UpdateButtons { 
  text-align: center;
}  

#UpdateButtons input[type="submit"] { /* Probably not best to change all buttons */
  font-size: 90%;
}  

#Signoffs ul ul {
  padding-left: 1em;
}

#OtherVersionTable {
  width: 100%; 
}

/* Allow for lists and tables with alternating color rows. 
   border-collapse gets rid of spacing between cells */

table.Alternating {
  border-collapse: collapse;
}

table.CenteredTable {
  margin-right: auto;
  margin-left: auto;
}

li.Odd, tr.Odd {
  background: #eee;
}

li.Even, tr.Even {
  background: white;
}

/* DocumentList tables show up in lots of places, hence here */

#TalkList,#DocumentList {
  border: 1px solid black;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
}

#TalkList td,#DocumentList td {
  vertical-align: top;
  text-align: left;
  padding: 3px 5px 3px 5px;
}  

#TalkList th,#DocumentList th {
  vertical-align: bottom;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px;
}  

#SubmitCell { /* Should be ".SubmitCell" */
  text-align: center;
}  

.Highlight {
  color: blue;
}  

.Error, .Warning, .Help {
  color: red;
}  

.Updated {
  white-space: nowrap;
}  

.DocDBNavBar {
  text-align: center;
}  
