.GenCustomForm {
  padding: 5px;
  border: 3px solid;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}  

.GenCustomForm td {
  padding: 5px;
  border: 1px solid;
}  

.GenCustomForm th {
  padding: 5px;
  border: 1px solid;
}  

.CustomButtons td {
  padding: 3px;
  border: none;
}

.LeftHeader {
  text-align: right;
}  
