/* General style settings */

body {
  margin: 10px 10px 10px 10px;
  padding:0px;
  margin-right: 20px;

}

ul {
  padding-left: 2em;
  margin-left:  0em;
}

ol li {
  padding-left: 0em;
  margin-left:  2em;
}

dl {
  padding-top: 0em;
  margin-top:  0em;
}

dd {
  padding-left: 1em;
  margin-left:  0em;
}

dd.FileList {
  padding-top:  0.5em;
  padding-left: 0em;
  margin-left:  0em;
}

dt {
  font-weight: bold;
}

a img {
  border: none;
}

img.icon { /* For inline icons */
  vertical-align: bottom;
  padding: 2px;
}

ul.compact {
  padding-left: 0em;
  margin-left:  0em;
}

ul.compact li {
  padding-left: 0em;
  margin-left:  0.75em;
  list-style-type: none;
}


h1, h2, h3, h4, h5 {
  margin: 0 1em 0 1em;
  text-align: center;
}

.SectionHeading {
  text-align: left;
}

h1 {font-size: 150%}
h2 {font-size: 120%}
h3 {font-size: 100%}

h5 {
  font-size: 100%;
  font-weight: normal;
}

.HighPaddedTable td, .HighPaddedTable th {padding: 10px;}
.MedPaddedTable  td, .MedPaddedTable  th {padding: 5px; }
.LowPaddedTable  td, .LowPaddedTable  th {padding: 3px; }
.UnPaddedTable   td, .UnPaddedTable   th {padding: 0px; }

td {vertical-align: top;    }
th {vertical-align: bottom; }

.LeftHeader {text-align: right;}

.LeftHeader th {
  vertical-align: top;
  text-align: right;
}

.LeftHeader td {
  text-align: left;
}

/* Stuff for PrintRevisionInfo, which shows up in lots of places, hence it's here */


#RevisionInfo {
  position: relative;
  width: 100%;
}

#Header3Col {
  width: 100%;
  padding: 0.5em;
}

#Footer3Col {
  clear: both;
  width: 100%;
  padding: 0.5em;
  text-align: center;
}

#LeftColumn3Col {
  width: 12.5em;
  float: left;
  background: #eee;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  margin-left: 0em;
  border: 1px solid;
}

#MainColumn3Col {
  background: white;
  padding-bottom: 1em;
  padding-left: 14em;   /* width+left/right paddings of LeftColumn plus another 0.5em*/
  width: auto;
}

#RightColumn3Col {
  width: 12.5em;
  background: #eee;
  float: right;
  margin-bottom: 0.5em;
  margin-left:   0.5em;
  padding:      0.5em;
  padding-top: 0.1em;
  border: 1px solid black;
}

#UpdateButtons {
  text-align: center;
}

#DocNotifySignup input[type="submit"], #UpdateButtons input[type="submit"] { /* Probably not best to change all buttons */
  font-size: 90%;
}

#Signoffs ul ul {
  padding-left: 1em;
}

#OtherVersionTable {
  width: 100%;
}

/* Allow for lists and tables with alternating color rows.
   border-collapse gets rid of spacing between cells */

table.Alternating {
  border-collapse: collapse;
  empty-cells: show;
}

table.CenteredTable {
  margin-right: auto;
  margin-left: auto;
}

li.Odd, tr.Odd, tbody.Odd {
  background: #eee;
}

li.Even, tr.Even, tbody.Even, .DocumentList th {
  background: white;
}

tr.Unconfirmed, tbody.Unconfirmed {
  font-style: italic;
}

/* DocumentList tables show up in lots of places, hence here */

.DocumentList {
  border: 1px solid black;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
}

.DocumentList td {
  vertical-align: top;
  text-align: left;
  padding: 3px 5px 3px 5px;
}

.DocumentList th {
  vertical-align: bottom;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}

/* For table showing a upcoming events */

.MultidayEventList {
  border: 1px solid black;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}

.MultidayEventList td {
  vertical-align: top;
  text-align: left;
  padding: 3px 5px 3px 5px;
}

.MultidayEventList th {
  vertical-align: bottom;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px;
}

.MultidayEventList th.LeftHeader {
  vertical-align: top;
  border-bottom: none;
  padding: 3px 5px 3px 5px;
}

td.Time {
  text-align: right;
}

#SubmitCell { /* Should be ".SubmitCell" */
  text-align: center;
}

.SubmitCell, td.SubmitCell, th.SubmitCell { /* Should be ".SubmitCell" */
  text-align: center;
}

.Highlight {
  color: blue;
}

.Error, .Warning, .Help {
  color: red;
}

a.Help[href], span.Help {
        color: #444;
        text-decoration: none;
	background-image: url('help.png');
	background-repeat:no-repeat;

	background-position: right center;
	padding-right: 22px;

	text-height: 16px;
/*	padding-left: 22px;*/

}

td.Updated {
  text-align: right;
  white-space: nowrap;
}

.DocDBNavBar {
  text-align: center;
}

.EmbedSession table {
  margin-left: 1em;
  margin-bottom: 1em;
}


/*  Stuff from mktree
    Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print {
        /* Turn off list bullets */
        ul.mktree  li { list-style: none; }
        /* Control how "spaced out" the tree is */
        ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }
        /* Provide space for our own "bullet" inside the LI */
        ul.mktree  li           .bullet { padding-left: 15px; }
        /* Show "bullets" in the links, depending on the class of the LI that the link's in */
        ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(minus.gif)  center left no-repeat; }
        ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(plus.gif)   center left no-repeat; }
        ul.mktree  li.liBullet  .bullet { cursor: default; background: url(bullet.gif) center left no-repeat; }
        /* Sublists are visible or not based on class of parent LI */
        ul.mktree  li.liOpen    ul { display: block; }
        ul.mktree  li.liClosed  ul { display: none; }

        /* Format menu items differently depending on what level of the tree they are in */
        /* Uncomment this if you want your fonts to decrease in size the deeper they are in the tree */
/*
        ul.mktree  li ul li { font-size: 90% }
*/

}


/*  Stuff from jquery autocomplete */

.ac_results {
        padding: 0px;
        border: 1px solid black;
        background-color: white;
        overflow: hidden;
        z-index: 99999;
}

.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        /*
        if width will be 100% horizontal scrollbar will apear
        when scroll mode will be used
        */
        /*width: 100%;*/
        font: menu;
        font-size: 12px;
        /*
        it is very important, if line-height not setted or setted
        in relative units scroll will be broken in firefox
        */
        line-height: 16px;
        overflow: hidden;
}

.ac_loading {
        background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
        background-color: #eee;
}

.ac_over {
        background-color: #0A246A;
        color: white;
}

input.hidden {
    visibility: hidden;
    display: none;
}

.FileEntry td {
  padding: 3px 5px 3px 5px;
}

.FileEntry th {
  padding: 5px 5px 5px 5px;
}

