.TalkList {
  border: 1px solid black;
  margin-bottom: 2em;
}

.TalkList td {
  text-align: left;
  padding: 3px 5px 3px 5px;
}  

.TalkList th {
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px;
}  

.EventPreEpi, .SessionDescription {
  margin-right: 10%;
  margin-left: 10%;
}  

.EventNavBar {
  text-align: center;
}  

#RightColumn3Col {
  width: 15em; 
  padding:      0.0em;
/*  background: #eee;
  float: right;
  margin-bottom: 0.5em;
  margin-left:   0.5em;
  padding-top: 0.1em;
  border: 1px solid black;
*/
}

#EventSummary th, #EventEpilogue th {
  white-space: nowrap;
}

#EventSummary  {
  border: 1px solid black;
  margin-right: 1em;
  margin-left: 1em;
}

#SessionList, #EventEpilogue  {
  border: 1px solid black;
}

#SessionList th {
  vertical-align: bottom;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}  

#SessionList td, #EventEpilogue td { /* Why?!?! */
  text-align: left;
}  

#SessionList td.Date { /* Why?!?! */
  white-space: nowrap;
}  
