/* Hide error labels untl uncovered */

form#documentadd input.error,  form#documentadd textarea.error {
    background-color: #FFD5E5 !important;
    border: 1px solid #f00 ! important;
}

form#documentadd label.error {
    display: none;
    color: #f00 !important;
    font-weight: bold;
}



#TopicScrollTable {
  padding-left: 3px;
  padding-right: 10px;
}

/* Put the link to list users in a group as close to security scrolls as possible */

.wListUsers td {
  padding-bottom: 0px;
}

.ListUsers td {
  padding-top: 0px;
}

.QuickEntryHide {
  display: none;
}
