body {
  margin:10px 10px 10px 10px;
  padding:0px;
}

dd {
  margin-left: 1em;
}

ul {
  padding-left: 2em;
}

dl {
  padding-top: 0em;
  margin-top: 0em;
}

dt {
  font-weight: bold;
}
 
h1, h2, h3, h4, h5 {
  margin: 0 1em 0 1em;
  text-align: center;
}


h1 {font-size: 150%}
h2 {font-size: 120%}
h3 {font-size: 100%}

#LeftColumn3Col {
//	width: 19%;
        width: 12.5em;
	float: left;
	background: #eee;
	padding-left: 0.3em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	padding-top: 0em;
        margin-left: 0em;
}

#MainColumn3Col {
	width: 100%-12.5em-1em; /* 12 matches LeftColums */
	background: #fff;
	padding-bottom: 1em;
	padding-left: 13.5em;   /* 13=12+1 matches LeftColums (can't hardcode?!?)*/
	padding-right: 0.5em;
}

#RightColumn3Col {
	width: auto;
        max-width: 35%;
	background: #eee;
	float: right;
        margin-bottom: 1em;
        margin-left: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.3em;
	padding-top: 0em;
}


#Header3Col {
	background: #fff;	
        margin-bottom: 1.5em;
}
	

#Footer3Col {
	clear: both;
	padding-bottom: 1em;
//	border-top: 1px solid #333;
	text-align: center;
}
	
#Signoffs ul ul {
    padding-left: 1em;
}

li.Odd {
  background: #eee;
}

li.Even {
  background: #fff;
}

