/* 
 This is an example of a CSS for a project. The look and feel of everything in 
 DocDB is controlled by CSS, so you can change the look of DocDB dramatically
 by supplying new CSS parameters.
 
 Let's look at an example:
  
 The first thing we want to do is change the color of alternating rows and of
 the side bars from very light gray (#eee) to light blue (#ddf). These numbers
 are (#red-green-blue). 
 
 Call this file [Project]DocDB.css where [Project] is the
 same as the $ShortProject variable.
 
 You can also create [Project]DocDB[Script].css files where [Script] is the name
 of a CSS file used just for a particular DocDB script (many of these exist, but
 they are very short compared to DocDB.css). You can also supply *_IE.css to be 
 included just by IE users. This is sometimes necessary to fix bugs with IE's
 poor CSS support. 
*/

body {
  margin:6px 6px 6px 6px;
  background: white;
  padding:0px;
}

/* Next, tune the width of the left column to give as much space as possible */ 

#LeftColumn3Col {
  background: #ddf;
  width: 11em;
}

#RightColumn3Col {
  background: #ddf;
}

/* Move the main column over to match the left column */

#MainColumn3Col {
	padding-left: 12em;
	width: 100%-11em-1em;
}

/* Change alternating <li> environments */

li.Odd {
  background: #ddf;
}

li.Even {
  background: white;
}

/* Change alternating <tr> environments */

tr.Odd, tbody.Odd {
  background: #ddf;
}

tr.Even, tbody.Even {
  background: white;
}

/* 
  Let's say you want to adjust the font size of the abstract and entire left
  column down one setting. If you do this to the left column, you probably want
  to readjust where the main column starts since the width of the left column
  is now given in "em"s but in a smaller font. 
*/

#LeftColumn3Col, #Abstract {
  font-size: 90%
}  

/* This changes the "Update Document" type buttons so they no longer really look
like buttons */

#UpdateButtons input[type="submit"] { /* Probably not best to change all buttons */
  background: #ddd; 
  font-weight: bold;
  border: 1px black solid;
  padding: 0.25em; */
  font-size: 90%;
  width: 12em;
}  
